{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div class="announcement-bar color-{{ block.settings.color_scheme }} gradient" role="region" aria-label="{{ 'sections.header.announcement' | t }}" {{ block.shopify_attributes }}>
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a href="{{ block.settings.link }}" class="announcement-bar__link link link--text focus-inset animate-arrow">
          {%- endif -%}
              {% comment %} Canada/US links - am {% endcomment %}
              <div class="page-width announcement-container">
                <div class="announcement-line">
                  <p class="announcement-bar__message {{ block.settings.text_alignment }} h5">
                    <span>{{ block.settings.text | escape }}</span>
                    {%- if block.settings.link != blank -%}
                      {% render 'icon-arrow' %}
                    {%- endif -%}
                    {% comment %} <span>1 USA | CAN</span> {% endcomment %}
                  </p>
                  <div class="announcement-country">
                    <a class="country-link" href="https://myuresta.com" target="_blank">USA</a> | <b>CAN</b></div>
                </div>
              </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% comment %} Canada/US links css - am {% endcomment %}
<style>
  .announcement-container {
    width: 100%;
    float: none;
    display: block;
    text-align: center;
    padding: 10px 0;
  }
  .announcement-line {
    display: inline-block;
  }
  .announcement-container .link,
  .announcement-bar__link  {
    display: unset;
    padding: 0;
  }
  .announcement-bar__message  {
    padding: 0;
  }
  .announcement-country {
    border: 2px solid #373033;
    background: rgba(0,0,0,0.25);
    padding: 2px 10px;
    border-radius: 50px;
    position: absolute;
    right: 10px;
    top: 6px;
  }
  .country-link {
    color: rgb(var(--color-foreground));
    text-decoration: none;
  }
  .country-link:hover {
    color: #fd856d;
  }
  @media (max-width: 990px) {
    .announcement-line {
      display: grid !important;
    }
    .announcement-country {
      position:unset !important;
      grid-row: 1;
      max-width: max-content;
      margin: 0 auto 10px;
    }
  }
</style>



{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
